@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base; 
@tailwind components; 
@tailwind utilities;

.font-inter {
  font-family: 'Inter', sans-serif;
}

svg:focus {
  outline: none; 
}

.backdrop-safari {
  backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(10px);
}